{{!-- Item Enhancement Setting Partial - Foundry V13 Compliant --}}
<div class="enhancement-setting border p-1 mb-2">
    
    <div class="form-group flexrow flex-between mb-1">
        <label class="resource-label font-weight-bold">Is Enhancement?</label>
        {{!-- V13 Data Path: system.isEnhancement (Boolean Toggle) --}}
        <input type="checkbox" 
               name="system.isEnhancement" 
               {{checked system.isEnhancement}} 
               data-dtype="Boolean" />
    </div>

    {{#if system.isEnhancement}}
    <div class="form-group flexrow flex-between">
        <label class="resource-label">Enhancement Value</label>
        <div class="form-fields flexrow flex-center" style="max-width: 100px;">
            {{!-- V13 Data Path: system.enhancementValue (Numeric Rating) --}}
            <input type="number" 
                   name="system.enhancementValue" 
                   value="{{system.enhancementValue}}" 
                   data-dtype="Number" 
                   placeholder="0" 
                   style="text-align: center;" 
                   title="Bonus successes provided by this item" />
        </div>
    </div>
    <p class="notes italic small mt-1">
        This value will be added as bonus successes to applicable rolls.
    </p>
    {{/if}}

</div>
