{{!-- Actions & Powers Partial - Foundry V13 Compliant --}}
<div class="actions-section">

  <ol class="item-list">
    {{!-- List Header with Create Button --}}
    <li class="item flexrow item-header">
      <div class="item-image"></div>
      <div class="item-name">Action / Power</div>
      <div class="item-detail">Dice Pool</div>
      <div class="item-controls">
        {{!-- 'item-create' triggers _onItemCreate from actor-sheet.js --}}
        <a class="item-control item-create" title="Create Action" data-type="action">
          <i class="fas fa-plus"></i> Add
        </a>
      </div>
    </li>

    {{!-- V13 Item Loop --}}
    {{#each powers as |item id|}}
    <li class="item flexrow" data-item-id="{{item._id}}">
      
      <div class="item-name flexrow">
        <div class="item-image" style="background-image: url('{{item.img}}')"></div>
        <h4>{{item.name}}</h4>
      </div>
      
      {{!-- V13 Data Path: Access item stats via item.system --}}
      <div class="item-detail">
        {{item.system.dicePool}}
      </div>
      
      <div class="item-controls">
        {{!-- 'roll-power' class connects to your async TrinityRollPrompt3 --}}
        <a class="item-control roll-power" title="Roll Action"><i class="fas fa-dice-d10"></i></a>
        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
      </div>

    </li>
    {{/each}}
  </ol>

</div>
