{{!-- Defense Partial - Foundry V13 Compliant --}}
<div class="defense-section">
  
  <h3 class="header">Defense & Resilience</h3>
  
  <div class="grid grid-2col mb-1">
    
    <div class="resource flex-group-center">
      <label for="system.defense.value" class="resource-label">Defense</label>
      <input type="number" name="system.defense.value" value="{{system.defense.value}}" data-dtype="Number"/>
    </div>
    
    <div class="resource flex-group-center">
      <label for="system.resilience.value" class="resource-label">Resilience</label>
      <input type="number" name="system.resilience.value" value="{{system.resilience.value}}" data-dtype="Number"/>
    </div>
    
  </div>

</div>
