{{!-- Facets Partial - Foundry V13 Compliant --}}
<div class="facets-section mt-1 mb-2">
  <h3 class="header">Facets</h3>
  
  <div class="grid grid-3col flex-group-center">
    
    {{!-- Force Facet --}}
    <div class="facet-col flexcol">
      <label for="system.facets.force.value" class="resource-label">Force</label>
      <input type="number" 
             name="system.facets.force.value" 
             value="{{system.facets.force.value}}" 
             data-dtype="Number" 
             placeholder="0"/>
    </div>

    {{!-- Finesse Facet --}}
    <div class="facet-col flexcol">
      <label for="system.facets.finesse.value" class="resource-label">Finesse</label>
      <input type="number" 
             name="system.facets.finesse.value" 
             value="{{system.facets.finesse.value}}" 
             data-dtype="Number" 
             placeholder="0"/>
    </div>

    {{!-- Resistance Facet --}}
    <div class="facet-col flexcol">
      <label for="system.facets.resistance.value" class="resource-label">Resistance</label>
      <input type="number" 
             name="system.facets.resistance.value" 
             value="{{system.facets.resistance.value}}" 
             data-dtype="Number" 
             placeholder="0"/>
    </div>

  </div>
</div>
