{{!-- Gifts Partial - Foundry V13 Compliant --}}
<div class="items-category gifts-section mb-2">
  
  <h3 class="header">Gifts</h3>
  
  <ol class="item-list">
    {{!-- List Header --}}
    <li class="item flexrow item-header align-center">
      <div class="item-name">Gift Name</div>
      <div class="item-detail">Dice Pool</div>
      <div class="item-detail">Cost</div>
      <div class="item-controls">
        {{!-- V13 Item Creation Hook --}}
        <a class="item-control item-create" title="Add Gift" data-type="gift">
          <i class="fas fa-plus"></i> Add
        </a>
      </div>
    </li>

    {{!-- V13 Array Iteration - Loops through 'gifts' --}}
    {{#each gifts as |item id|}}
    <li class="item flexcol" data-item-id="{{item._id}}" style="padding: 3px 0;">
      <div class="flexrow align-center">
        <div class="item-name flexrow align-center">
          <img src="{{item.img}}" title="Click to view {{item.name}}" class="item-edit" width="24" height="24" style="cursor: pointer; margin-right: 8px; border-radius: 3px; border: 1px solid #ccc; object-fit: cover; flex: 0 0 24px;"/>
          
          <h4 class="m-0 rollable" data-roll-type="item" title="Roll {{item.name}}" style="line-height: 24px; cursor: pointer;">
            <a>{{item.name}}</a>
          </h4>
        </div>
        
        {{!-- V13 Data Path: Accessing dicePool and cost defined in template.json --}}
        <div class="item-detail">
          {{item.system.dicePool}}
        </div>
        <div class="item-detail">
          {{item.system.cost}}
        </div>
        
        <div class="item-controls">
          <a class="item-control item-delete" title="Delete Gift"><i class="fas fa-trash"></i></a>
        </div>
      </div>

      {{!-- Enriched Description Support --}}
      {{#if item.system.description}}
      <div class="item-description px-2 py-1">
        {{{item.system.description}}}
      </div>
      {{/if}}
    </li>
    {{/each}}
  </ol>

</div>
