{{!-- Inspiration Partial - Foundry V13 Compliant --}}
<div class="inspiration-section mb-2">
  
  {{!-- Check if character is a Talent --}}
  {{#if (eq system.subType "talent")}}
  <div class="resource flexrow flex-group-center p-1 border">
    
    <label class="resource-label rollable" data-roll-type="inspiration" title="Roll Inspiration">
      Inspiration
    </label>

    <div class="resource-content flexrow flex-center">
      {{!-- Current Inspiration --}}
      <input type="number" 
             name="system.talent.inspiration.value" 
             value="{{system.talent.inspiration.value}}" 
             data-dtype="Number" 
             style="max-width: 3rem; text-align: center;" />
      
      <span class="px-1"> / </span>
      
      {{!-- Max Inspiration --}}
      <input type="number" 
             name="system.talent.inspiration.max" 
             value="{{system.talent.inspiration.max}}" 
             data-dtype="Number" 
             style="max-width: 3rem; text-align: center;" />
    </div>

  </div>
  {{/if}}

</div>
