<div class="nova-section mb-2">
    <h3 class="header">Nova Traits</h3>
    <div class="grid grid-4col gap-10 align-center">
        
        {{!-- Quantum --}}
        <div class="form-group flexcol flex-center border p-1" style="border-radius: 5px; background: rgba(0,0,0,0.02);">
            <label class="font-weight-bold text-blue mb-1">Quantum</label>
            <div class="pip-container" data-name="system.nova.quantum.value" data-value="{{system.nova.quantum.value}}">
                <i class="pip {{#if (gt system.nova.quantum.value 0)}}fas{{else}}far{{/if}} fa-circle" data-index="1"></i>
                <i class="pip {{#if (gt system.nova.quantum.value 1)}}fas{{else}}far{{/if}} fa-circle" data-index="2"></i>
                <i class="pip {{#if (gt system.nova.quantum.value 2)}}fas{{else}}far{{/if}} fa-circle" data-index="3"></i>
                <i class="pip {{#if (gt system.nova.quantum.value 3)}}fas{{else}}far{{/if}} fa-circle" data-index="4"></i>
                <i class="pip {{#if (gt system.nova.quantum.value 4)}}fas{{else}}far{{/if}} fa-circle" data-index="5"></i>
                <i class="pip {{#if (gt system.nova.quantum.value 5)}}fas{{else}}far{{/if}} fa-circle" data-index="6"></i>
                <i class="pip {{#if (gt system.nova.quantum.value 6)}}fas{{else}}far{{/if}} fa-circle" data-index="7"></i>
                <i class="pip {{#if (gt system.nova.quantum.value 7)}}fas{{else}}far{{/if}} fa-circle" data-index="8"></i>
                <i class="pip {{#if (gt system.nova.quantum.value 8)}}fas{{else}}far{{/if}} fa-circle" data-index="9"></i>
                <i class="pip {{#if (gt system.nova.quantum.value 9)}}fas{{else}}far{{/if}} fa-circle" data-index="10"></i>
            </div>
        </div>

        {{!-- Quantum Points --}}
        <div class="form-group flexcol flex-center border p-1" style="border-radius: 5px; background: rgba(0,0,0,0.02);">
            <label class="font-weight-bold text-blue mb-1">Quantum Points</label>
            <div class="flexrow flex-center">
                <input type="number" name="system.nova.quantumPoints.value" value="{{system.nova.quantumPoints.value}}" style="width: 40px; text-align: center;" data-dtype="Number"/>
                <span class="mx-1" style="font-weight: bold;">/</span>
                <input type="number" name="system.nova.quantumPoints.max" value="{{system.nova.quantumPoints.max}}" style="width: 40px; text-align: center;" data-dtype="Number"/>
            </div>
        </div>

        {{!-- Transcendence --}}
        <div class="form-group flexcol flex-center border p-1" style="border-radius: 5px; background: rgba(0,0,0,0.02);">
            <label class="font-weight-bold text-blue mb-1">Transcendence</label>
            <div class="pip-container" data-name="system.nova.transcendence.value" data-value="{{system.nova.transcendence.value}}">
                <i class="pip {{#if (gt system.nova.transcendence.value 0)}}fas{{else}}far{{/if}} fa-circle" data-index="1"></i>
                <i class="pip {{#if (gt system.nova.transcendence.value 1)}}fas{{else}}far{{/if}} fa-circle" data-index="2"></i>
                <i class="pip {{#if (gt system.nova.transcendence.value 2)}}fas{{else}}far{{/if}} fa-circle" data-index="3"></i>
                <i class="pip {{#if (gt system.nova.transcendence.value 3)}}fas{{else}}far{{/if}} fa-circle" data-index="4"></i>
                <i class="pip {{#if (gt system.nova.transcendence.value 4)}}fas{{else}}far{{/if}} fa-circle" data-index="5"></i>
                <i class="pip {{#if (gt system.nova.transcendence.value 5)}}fas{{else}}far{{/if}} fa-circle" data-index="6"></i>
                <i class="pip {{#if (gt system.nova.transcendence.value 6)}}fas{{else}}far{{/if}} fa-circle" data-index="7"></i>
                <i class="pip {{#if (gt system.nova.transcendence.value 7)}}fas{{else}}far{{/if}} fa-circle" data-index="8"></i>
                <i class="pip {{#if (gt system.nova.transcendence.value 8)}}fas{{else}}far{{/if}} fa-circle" data-index="9"></i>
                <i class="pip {{#if (gt system.nova.transcendence.value 9)}}fas{{else}}far{{/if}} fa-circle" data-index="10"></i>
            </div>
        </div>

        {{!-- Flux --}}
        <div class="form-group flexcol flex-center border p-1" style="border-radius: 5px; background: rgba(0,0,0,0.02);">
            <label class="font-weight-bold text-blue mb-1">Flux</label>
            <div class="pip-container" data-name="system.nova.flux.value" data-value="{{system.nova.flux.value}}">
                <i class="pip {{#if (gt system.nova.flux.value 0)}}fas{{else}}far{{/if}} fa-circle" data-index="1"></i>
                <i class="pip {{#if (gt system.nova.flux.value 1)}}fas{{else}}far{{/if}} fa-circle" data-index="2"></i>
                <i class="pip {{#if (gt system.nova.flux.value 2)}}fas{{else}}far{{/if}} fa-circle" data-index="3"></i>
                <i class="pip {{#if (gt system.nova.flux.value 3)}}fas{{else}}far{{/if}} fa-circle" data-index="4"></i>
                <i class="pip {{#if (gt system.nova.flux.value 4)}}fas{{else}}far{{/if}} fa-circle" data-index="5"></i>
                <i class="pip {{#if (gt system.nova.flux.value 5)}}fas{{else}}far{{/if}} fa-circle" data-index="6"></i>
                <i class="pip {{#if (gt system.nova.flux.value 6)}}fas{{else}}far{{/if}} fa-circle" data-index="7"></i>
                <i class="pip {{#if (gt system.nova.flux.value 7)}}fas{{else}}far{{/if}} fa-circle" data-index="8"></i>
                <i class="pip {{#if (gt system.nova.flux.value 8)}}fas{{else}}far{{/if}} fa-circle" data-index="9"></i>
                <i class="pip {{#if (gt system.nova.flux.value 9)}}fas{{else}}far{{/if}} fa-circle" data-index="10"></i>
            </div>
        </div>

    </div>

    {{!-- Drag and Drop Quantum Powers --}}
    <div class="powers-section mt-1">
        <div class="flexrow flex-between header p-1 border-bottom">
            <h3 class="m-0">Quantum Powers</h3>
            <a class="item-create text-blue" data-type="quantumPower" title="Create New Quantum Power"><i class="fas fa-plus"></i> Add</a>
        </div>
        
        <div class="power-list p-1 border">
            {{!-- This loops through the custom "quantumPower" items --}}
            {{#if quantumPowers.length}}
                {{#each quantumPowers as |item id|}}
                <div class="item flexrow flex-between p-1 border-bottom align-center" data-item-id="{{item._id}}">
                    
                    <div class="item-name flexrow align-center">
                        <div class="item-image" style="background-image: url('{{item.img}}'); width: 28px; height: 28px; background-size: cover; margin-right: 10px; border-radius: 3px;"></div>
                        <h4 class="m-0 rollable" data-roll-type="item">{{item.name}}</h4>
                    </div>

                    <div class="flexrow align-center">
                        <span class="tag mx-1" style="padding: 2px 8px;">Rating: {{item.system.value}}</span>
                        <div class="item-controls flexrow flex-center ml-1">
                            <a class="item-control item-edit mx-1" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete text-red" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                </div>
                {{/each}}
            {{else}}
                <em style="color: #666;">Drag and drop Quantum Powers here, or click '+ Add'.</em>
            {{/if}}
        </div>
    </div>
</div>
