{{!-- Psion Paradigm Partial --}}
<div class="paradigm-section">
  <h3 class="header">Psion Traits</h3>

  {{!-- Psion Background Details --}}
  <div class="grid grid-2col mb-1">
    <div class="form-group flexcol">
      <label for="system.details.psiOrder" class="resource-label font-weight-bold">PSI Order</label>
      <input type="text" name="system.details.psiOrder" value="{{system.details.psiOrder}}" placeholder="e.g. Orgotek, Legions, ISRA..."/>
    </div>

    <div class="form-group flexcol">
      <label for="system.details.aptitude" class="resource-label font-weight-bold">Aptitude</label>
      <input type="text" name="system.details.aptitude" value="{{system.details.aptitude}}" placeholder="e.g. Telekinesis, Biokinesis..."/>
    </div>
  </div>
  
  {{!-- Core Psion Stats Grid --}}
  <div class="grid grid-3col mb-1">
    
    <div class="flexcol flex-center">
      <label class="resource-label rollable" data-attribute="psi">PSI Rating</label>
      <input type="number" name="system.psi.value" value="{{system.psi.value}}" min="0" max="10" data-dtype="Number"/>
    </div>
    
    <div class="flexcol flex-center w-100">
      <label class="resource-label">PSI Points</label>
      <div class="flexrow flex-center">
        <input class="w-50 text-center" type="number" name="system.psiPoints.value" value="{{system.psiPoints.value}}" data-dtype="Number"/>
        <span class="px-1">/</span>
        <input class="w-50 text-center" type="number" name="system.psiPoints.max" value="{{system.psiPoints.max}}" data-dtype="Number"/>
      </div>
    </div>

    <div class="flexcol flex-center">
      <label class="resource-label rollable" data-attribute="tolerance">Tolerance</label>
      <input type="number" name="system.tolerance.value" value="{{system.tolerance.value}}" min="0" max="10" data-dtype="Number"/>
    </div>
    
  </div>

  <hr>

  {{!-- PSI Powers List --}}
  <div class="flexrow flex-between header p-1 mt-1">
    <h3 class="m-0">PSI Powers</h3>
    <a class="item-create" data-type="power" title="Add PSI Power"><i class="fas fa-plus"></i> Add</a>
  </div>
  
  <div class="power-list p-1 border">
    {{!-- 
      This uses the same robust drag-and-drop rendering loop as the Nova sheet.
      Dropping a power from the sidebar will automatically populate this list.
    --}}
    {{#if items.power.length}}
        {{#each items.power as |item id|}}
        <div class="item flexrow flex-between p-1 border-bottom" data-item-id="{{item._id}}">
            <div class="item-name flexrow flex-center">
                <div class="item-image" style="background-image: url('{{item.img}}'); width: 24px; height: 24px; background-size: cover; margin-right: 5px;"></div>
                <h4 class="m-0 rollable" data-roll-type="item">{{item.name}}</h4>
            </div>
            <div class="item-controls flexrow flex-center">
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
        </div>
        {{/each}}
    {{else}}
        <em style="color: #666;">Drag and drop PSI Powers from the items sidebar here, or click the '+' button above to create a new one.</em>
    {{/if}}
  </div>
</div>
