{{!-- Saved Rolls Partial (Variant 2) - Foundry V13 Compliant --}}
<div class="items-category saved-rolls-section-v2 mb-2">
  
  <h3 class="header flexrow flex-between">
    <span>Saved Rolls</span>
    <a class="item-control item-create" title="Create Saved Roll" data-type="roll">
      <i class="fas fa-plus"></i>
    </a>
  </h3>
  
  <div class="grid grid-2col">
    {{!-- V13 Array Iteration - Loops through 'rolls' from _prepareItems --}}
    {{#each rolls as |item id|}}
    <div class="item saved-roll-card flexcol border p-1 m-1" data-item-id="{{item._id}}">
      
      <div class="flexrow flex-between mb-1 border-bottom pb-1">
        <div class="item-name flexrow flex-center">
          <div class="item-image" style="background-image: url('{{item.img}}'); width: 32px; height: 32px; background-size: cover; margin-right: 8px;"></div>
          <h4 class="m-0">{{item.name}}</h4>
        </div>
        
        <div class="item-controls">
          {{!-- roll-power triggers TrinityRollPrompt3 in your JS files --}}
          <a class="item-control roll-power p-1" title="Execute Roll"><i class="fas fa-dice-d10 fa-lg"></i></a>
          <a class="item-control item-edit p-1" title="Edit"><i class="fas fa-edit"></i></a>
          <a class="item-control item-delete p-1" title="Delete"><i class="fas fa-trash"></i></a>
        </div>
      </div>

      <div class="flexrow flex-between">
        {{!-- V13 Data Path: Accessing dicePool --}}
        <div class="item-detail">
          <label class="resource-label">Dice Pool:</label>
          <span class="px-1">{{item.system.dicePool}}</span>
        </div>
      </div>

      {{!-- Enriched Description for the Card --}}
      {{#if item.system.description}}
      <div class="item-description mt-1 px-1 small italic border-top pt-1">
        {{{item.system.description}}}
      </div>
      {{/if}}
    </div>
    {{/each}}
  </div>

</div>
