{{!-- Specialties Partial - Foundry V13 Compliant --}}
<div class="items-category specialties-section mb-2">
  
  <h3 class="header flexrow flex-between">
    <span>Specialties</span>
    <a class="item-control item-create" title="Add Specialty" data-type="specialty">
      <i class="fas fa-plus"></i> Add
    </a>
  </h3>
  
  <ol class="item-list">
    {{!-- V13 Array Iteration - Loops through 'specialties' from _prepareItems --}}
    {{#each specialties as |item id|}}
    <li class="item flexrow py-1 border-bottom-dashed" data-item-id="{{item._id}}">
      
      <div class="item-name flexrow flex-center">
        {{!-- Specialty Label (Rollable) --}}
        <label class="resource-label rollable" 
               data-roll-type="specialty" 
               data-item-id="{{item._id}}"
               title="Apply Specialty Bonus">
          {{item.name}}
        </label>
      </div>

      {{!-- V13 Data Path: system.value (Rating) --}}
      <div class="item-detail flexrow flex-center" style="flex: 0 0 100px;">
        <span class="mr-1">Rating:</span>
        <span class="font-weight-bold">{{item.system.value}}</span>
      </div>
      
      <div class="item-controls" style="flex: 0 0 60px; display: flex; justify-content: flex-end;">
        <a class="item-control item-edit px-1" title="Edit Specialty"><i class="fas fa-edit"></i></a>
        <a class="item-control item-delete px-1" title="Delete Specialty"><i class="fas fa-trash"></i></a>
      </div>
    </li>
    {{/each}}
  </ol>

</div>
