{{!-- Unflagged Items Partial - Foundry V13 Compliant --}}
<div class="items-category unflagged-items-section mb-2">
  
  <h3 class="header flexrow flex-between" style="background: #4a4a4a; color: white; padding: 2px 5px;">
    <span>Uncategorized / Unflagged</span>
    <span class="small italic" style="font-size: 0.7rem;">(Please assign a Type)</span>
  </h3>
  
  <ol class="item-list">
    {{!-- List Header --}}
    <li class="item flexrow item-header border-bottom">
      <div class="item-image"></div>
      <div class="item-name">Item Name</div>
      <div class="item-detail" style="flex: 0 0 80px; text-align: center;">Qty</div>
      <div class="item-controls" style="flex: 0 0 60px;"></div>
    </li>

    {{!-- V13 Array Iteration - Loops through 'unflagged' from _prepareItems --}}
    {{#each unflagged as |item id|}}
    <li class="item flexcol py-1 border-bottom-dashed" data-item-id="{{item._id}}">
      <div class="flexrow flex-center">
        <div class="item-name flexrow flex-center">
          <div class="item-image" style="background-image: url('{{item.img}}'); width: 24px; height: 24px; background-size: cover; margin-right: 8px;"></div>
          <h4 class="m-0">{{item.name}}</h4>
        </div>
        
        {{!-- V13 Data Path: system.quantity --}}
        <div class="item-detail" style="flex: 0 0 80px; text-align: center;">
          {{item.system.quantity}}
        </div>
        
        <div class="item-controls" style="flex: 0 0 60px; display: flex; justify-content: space-around;">
          <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
          <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
      </div>

      {{!-- Item Description --}}
      {{#if item.system.description}}
      <div class="item-description mt-1 px-2 py-1 small italic border-top" style="background: rgba(0,0,0,0.05);">
        {{{item.system.description}}}
      </div>
      {{/if}}
    </li>
    {{/each}}
  </ol>

</div>
