{{!-- Vehicles Partial - Foundry V13 Compliant --}}
<div class="items-category vehicles-section mb-2">
  
  <h3 class="header flexrow flex-between">
    <span>Vehicles</span>
    {{!-- V13 Item Creation Hook --}}
    <a class="item-control item-create" title="Add Vehicle" data-type="vehicle">
      <i class="fas fa-plus"></i> Add
    </a>
  </h3>
  
  <ol class="item-list">
    {{!-- List Header --}}
    <li class="item flexrow item-header border-bottom align-center">
      <div class="item-name">Vehicle Name</div>
      <div class="item-detail" style="flex: 0 0 60px; text-align: center;">Hand.</div>
      <div class="item-detail" style="flex: 0 0 60px; text-align: center;">Armor</div>
      <div class="item-controls" style="flex: 0 0 60px;"></div>
    </li>

    {{!-- V13 Array Iteration - Loops through 'vehicles' from _prepareItems --}}
    {{#each vehicles as |item id|}}
    <li class="item flexcol py-1 border-bottom-dashed" data-item-id="{{item._id}}" style="padding: 3px 0;">
      <div class="flexrow align-center">
        <div class="item-name flexrow align-center">
          <img src="{{item.img}}" title="Click to view {{item.name}}" class="item-edit" width="24" height="24" style="cursor: pointer; margin-right: 8px; border-radius: 3px; border: 1px solid #ccc; object-fit: cover; flex: 0 0 24px;"/>
          
          <h4 class="m-0 rollable" data-roll-type="item" title="Roll {{item.name}}" style="line-height: 24px; cursor: pointer;">
            <a>{{item.name}}</a>
          </h4>
        </div>
        
        {{!-- V13 Data Path: system.handling --}}
        <div class="item-detail" style="flex: 0 0 60px; text-align: center;">
          {{item.system.handling}}
        </div>

        {{!-- V13 Data Path: system.armor --}}
        <div class="item-detail" style="flex: 0 0 60px; text-align: center;">
          {{item.system.armor}}
        </div>
        
        <div class="item-controls" style="flex: 0 0 60px; display: flex; justify-content: flex-end;">
          <a class="item-control item-delete px-1" title="Delete Vehicle"><i class="fas fa-trash"></i></a>
        </div>
      </div>

      {{!-- Vehicle Description & Stats --}}
      {{#if (or item.system.description item.system.speed)}}
      <div class="item-description mt-1 px-2 py-1 small italic border-top">
        {{#if item.system.speed}}<strong>Speed:</strong> {{item.system.speed}} | {{/if}}
        {{{item.system.description}}}
      </div>
      {{/if}}
    </li>
    {{/each}}
  </ol>

</div>
