{{!-- Actor Overview Table Variant - Foundry V13 Compliant --}}
<div class="trinity-overview-table">

  <header class="table-header border-bottom mb-2">
    <h2>Party Status Dashboard</h2>
  </header>

  <table class="overview-table">
    <thead>
      <tr>
        <th class="text-left">Character</th>
        <th>Inspiration</th>
        <th>Health / Injury</th>
        <th>Active Paths</th>
        <th>Conditions</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {{#each actors as |actor id|}}
      <tr class="actor-row" data-actor-id="{{actor.id}}">
        
        {{!-- Character Identity --}}
        <td class="flexrow flex-center">
          <img class="profile-img" src="{{actor.img}}" width="32" height="32" />
          <span class="actor-name font-weight-bold ml-1">{{actor.name}}</span>
        </td>

        {{!-- Inspiration Tracking --}}
        <td class="text-center">
          {{!-- V13 Path: actor.system.inspiration --}}
          <div class="resource-bar-container">
            <span class="small">{{actor.system.inspiration.value}} / {{actor.system.inspiration.max}}</span>
          </div>
        </td>

        {{!-- Health & Injury Status --}}
        <td class="text-center">
          {{!-- Accessing flattened system.attributes --}}
          <span class="injury-penalty {{#if actor.system.attributes.health.penalty}}text-red{{/if}}">
            {{#if actor.system.attributes.health.penalty}}-{{actor.system.attributes.health.penalty}}{{else}}Healthy{{/if}}
          </span>
        </td>

        {{!-- Paths Iteration --}}
        <td class="small italic">
          {{#each actor.itemTypes.path as |path|}}
            {{path.name}}{{#unless @last}}, {{/unless}}
          {{/each}}
        </td>

        {{!-- Conditions Quick-View --}}
        <td>
          <div class="tag-group">
            {{#each actor.itemTypes.condition as |condition|}}
              <span class="tag border px-1 small" title="{{condition.system.description}}">
                {{condition.name}} ({{condition.system.penalty}})
              </span>
            {{/each}}
          </div>
        </td>

        {{!-- Table Actions --}}
        <td class="text-center">
          <a class="open-sheet-link" title="Open Character Sheet" data-actor-id="{{actor.id}}">
            <i class="fas fa-file-alt"></i>
          </a>
        </td>

      </tr>
      {{/each}}
    </tbody>
  </table>

</div>
