<form class="{{cssClass}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
      
      {{!-- Example Resource Field --}}
      <div class="resources grid grid-2col">
        <div class="resource">
          <label class="resource-label">{{localize "TRINITY.Health"}}</label>
          <input type="number" name="system.health.value" value="{{system.health.value}}" data-dtype="Number" />
        </div>
        <div class="resource">
          <label class="resource-label">{{localize "TRINITY.Quantum"}}</label>
          <input type="number" name="system.resources.quantum.value" value="{{system.resources.quantum.value}}" data-dtype="Number" />
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="attributes">{{localize "TRINITY.Attributes"}}</a>
    <a class="item" data-tab="skills">{{localize "TRINITY.Skills"}}</a>
    <a class="item" data-tab="gear">{{localize "TRINITY.Gear"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    
    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      {{!-- Using the partials we registered in trinity.js --}}
      {{> "systems/trinity/templates/actor/partials/attributes.html"}}
    </div>

    {{!-- Skills Tab --}}
    <div class="tab skills" data-group="primary" data-tab="skills">
      {{> "systems/trinity/templates/actor/partials/skills.html"}}
    </div>

  </section>
</form>
