<form class="{{cssClass}} trinity-actor-sheet flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      
      <h1 class="charname">
        {{!-- Top level actor properties do not use the system prefix --}}
        <input name="name" type="text" value="{{actor.name}}" placeholder="Character Name"/>
      </h1>

      <div class="resources grid grid-3col mt-1">
        
        {{!-- V13: Inputs must map strictly to system.[path] --}}
        <div class="resource flex-group-center">
          <label for="system.health.value" class="resource-label">Health</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="number" name="system.health.value" value="{{system.health.value}}" data-dtype="Number"/>
            <span> / </span>
            <input type="number" name="system.health.max" value="{{system.health.max}}" data-dtype="Number"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.resources.primary.value" class="resource-label">Inspiration/Quantum</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="number" name="system.resources.primary.value" value="{{system.resources.primary.value}}" data-dtype="Number"/>
            <span> / </span>
            <input type="number" name="system.resources.primary.max" value="{{system.resources.primary.max}}" data-dtype="Number"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.defense.value" class="resource-label">Defense</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="number" name="system.defense.value" value="{{system.defense.value}}" data-dtype="Number"/>
          </div>
        </div>
        
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="character">Character</a>
    <a class="item" data-tab="attributes">Attributes</a>
    <a class="item" data-tab="skills">Skills</a>
    <a class="item" data-tab="combat">Combat & Gear</a>
    <a class="item" data-tab="edges">Edges & Paths</a>
    <a class="item" data-tab="bio">Biography</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Character Info Tab --}}
    <div class="tab character" data-group="primary" data-tab="character">
      {{> "systems/trinity/templates/actor/partials/character.html"}}
      {{> "systems/trinity/templates/actor/partials/facets.html"}}
    </div>

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      {{> "systems/trinity/templates/actor/partials/attributes.html"}}
      {{> "systems/trinity/templates/actor/partials/inspiration.html"}}
    </div>

    {{!-- Skills Tab --}}
    <div class="tab skills" data-group="primary" data-tab="skills">
      {{> "systems/trinity/templates/actor/partials/skills.html"}}
      {{> "systems/trinity/templates/actor/partials/specialties.html"}}
    </div>

    {{!-- Combat & Gear Tab --}}
    <div class="tab combat" data-group="primary" data-tab="combat">
      {{> "systems/trinity/templates/actor/partials/healthboxes.html"}}
      {{> "systems/trinity/templates/actor/partials/defense.html"}}
      {{> "systems/trinity/templates/actor/partials/weapons.html"}}
      {{> "systems/trinity/templates/actor/partials/armors.html"}}
      {{> "systems/trinity/templates/actor/partials/gear.html"}}
    </div>

    {{!-- Edges & Paths Tab --}}
    <div class="tab edges" data-group="primary" data-tab="edges">
      {{> "systems/trinity/templates/actor/partials/edges.html"}}
      {{> "systems/trinity/templates/actor/partials/paths.html"}}
      {{> "systems/trinity/templates/actor/partials/gifts.html"}}
    </div>

    {{!-- Biography Tab --}}
    <div class="tab bio" data-group="primary" data-tab="bio">
      {{> "systems/trinity/templates/actor/partials/bio.html"}}
      {{> "systems/trinity/templates/actor/partials/bonds.html"}}
      {{> "systems/trinity/templates/actor/partials/contacts.html"}}
    </div>

  </section>
</form>
