{{!-- NPC Attributes Partial - Foundry V13 Compliant --}}
<div class="npc-attributes">
  
  <div class="attributes-grid grid grid-3col">
    {{!-- V13: Loop directly through system.attributes --}}
    {{#each system.attributes as |attr key|}}
    <div class="attribute flexrow flex-group-center">
      
      {{!-- 
        Rollable Label:
        Using the 'rollable' class and 'data-attribute' hook 
        so your picker.js / item-sheet.js listeners can grab the key.
      --}}
      <label for="system.attributes.{{key}}.value" class="attribute-label rollable" data-attribute="{{key}}" title="Select {{localize attr.label}}">
        <a>{{localize attr.label}}</a>
      </label>
      
      {{!-- 
        V13 Data Binding: 
        name="system.attributes.{{key}}.value" tells Foundry exactly where to save this number.
      --}}
      <input type="number" 
             class="attribute-input" 
             name="system.attributes.{{key}}.value" 
             value="{{attr.value}}" 
             data-dtype="Number" />
             
    </div>
    {{/each}}
  </div>

</div>
