<form class="trinity-app {{cssClass}} flexcol" autocomplete="off">

    {{!-- ITEM HEADER --}}
    <header class="sheet-header flexrow p-1 border-bottom align-center">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" style="object-fit: cover; flex: 0 0 auto;"/>
        <div class="header-fields flexcol w-100 mx-1">
            <h1 class="charname m-0">
                <input name="name" type="text" value="{{item.name}}" placeholder="Skill Trick Name"/>
            </h1>
        </div>
    </header>

    {{!-- ITEM BODY (Single Page Layout) --}}
    <section class="sheet-body p-1 flexcol" style="flex: 1 1 auto; overflow-y: auto;">
        
        {{!-- Associated Skill --}}
        <div class="form-group flexcol mb-1">
            <label class="font-weight-bold text-blue">Associated Skill</label>
            <input type="text" name="system.skill" value="{{system.skill}}" placeholder="e.g. Athletics, Aim, Science..."/>
        </div>

        {{!-- Description (Rich Text Editor) --}}
        <div class="form-group flexcol h-100 mt-1">
            <label class="font-weight-bold text-blue mb-1">Description</label>
            <div class="p-1 border" style="background: rgba(0,0,0,0.02); min-height: 250px; height: 100%;">
                {{editor enrichedDescription target="system.description" button=true owner=owner editable=editable engine="prosemirror"}}
            </div>
        </div>

    </section>
</form>
