<form class="trinity-app {{cssClass}} flexcol" autocomplete="off">
    <header class="sheet-header flexrow p-1 border-bottom align-center">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" style="object-fit: cover;"/>
        <div class="header-fields flexcol w-100 mx-1">
            <h1 class="charname m-0"><input name="name" type="text" value="{{item.name}}" placeholder="Vehicle Name"/></h1>
        </div>
    </header>

    <nav class="sheet-tabs tabs mt-1" data-group="primary">
        <a class="item" data-tab="details">Vehicle Details</a>
        <a class="item" data-tab="description">Description</a>
    </nav>

    <section class="sheet-body p-1" style="flex: 1 1 auto; overflow-y: auto;">
        <div class="tab details h-100 flexcol" data-group="primary" data-tab="details">
            <div class="grid grid-2col gap-10 mb-1">
                <div class="form-group flexcol"><label class="font-weight-bold text-blue">Size</label><input type="number" name="system.size" value="{{system.size}}" data-dtype="Number"/></div>
                <div class="form-group flexcol"><label class="font-weight-bold text-blue">Handling</label><input type="number" name="system.handling" value="{{system.handling}}" data-dtype="Number"/></div>
                <div class="form-group flexcol"><label class="font-weight-bold text-blue">Speed</label><input type="number" name="system.speed" value="{{system.speed}}" data-dtype="Number"/></div>
                <div class="form-group flexcol"><label class="font-weight-bold text-blue">Weapons</label><input type="text" name="system.weapons" value="{{system.weapons}}" placeholder="e.g. Laser Cannon..."/></div>
            </div>
            <div class="form-group flexcol h-100">
                <label class="font-weight-bold text-blue">Tags & Special Rules</label>
                <textarea name="system.tags" placeholder="Describe vehicle mechanics here..." style="min-height: 150px; resize: vertical; padding: 5px; border: 1px solid #7a7971; border-radius: 3px; background: rgba(0,0,0,0.05);">{{system.tags}}</textarea>
            </div>
        </div>
        <div class="tab description h-100" data-group="primary" data-tab="description">
            <div class="p-1 border" style="min-height: 350px;">{{editor enrichedDescription target="system.description" button=true owner=owner editable=editable engine="prosemirror"}}</div>
        </div>
    </section>
</form>
